# ============================
# Terraform
# ============================
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
.terraform.lock.hcl

# ============================
# Variables sensibles
# ============================
*.env
.env

# ============================
# Logs
# ============================
*.log

# ============================
# Sistema operativo
# ============================
.DS_Store
Thumbs.db

# ============================
# IDEs y editores
# ============================
.vscode/
.idea/

# ============================
# Node / herramientas (por si acaso)
# ============================
node_modules/

# ============================
# Build / temporales
# ============================
dist/
build/
